.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}
.logo{
    width: 100px;
}
.card{
    width:160px;
    border: 1px solid black;
    padding:8px;
    margin:8px;
}
.card >img {
width:90%;
}
.restaurant-list{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}